
<h1>New survey</h1>

<%= render "layouts/survey_form" %>

<%= form_for @survey do |f| %>
<% if @survey.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @survey.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit  %>
<% end %>
